*{
    box-sizing: border-box;
}

body {
    width: 100px;
    height: 100vh;
    background-image: linear-gradient(to right top, #ff4988,#ffc781,#fffefc);
}


:root{
    --primary-color:#4797ff;
    --text-color: #202020;
}

.loginbox{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.signup{
    width: 100%;
    max-width: 50rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.signup_form{
}

.sigup_heading{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: -5px;
    color: var(--text-color);
}

.sigup_already{
    text-align: center;
    font-size: 1.1rem;

}

.sigup_link{
    color: var(--primary-color);
    font-size: inherit;
    text-decoration: none;
}

.sigup_link--underline{
    text-decoration: underline;
}

.form_group{
    margin-bottom: 15px;
    position: relative;
}

.form_group--2{
    display: flex;
    justify-content: space-between;
}

.form_group--2 > .form_group-firstname{
    width: calc(50% - 5px);
}

/* .form_input::-webkit-input-placeholder{
    color: #ccc;
    font-style: italic;
} */

.form_input{
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid rgb(223, 220, 220);
    padding: 10px;
    transition: .25s linear;
    width: 100%;
}

.form_input:focus{
    border-color: #ccc;
    background-color: #fff;
}

.form_input-label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    user-select: none;
    color: #999;
    pointer-events: none;
}

.form_input:not(:placeholder-shown) + .form_input-label,
.form_input:focus + .form_input-label{
    top: 0;
    padding: 0 10px;
    display: inline-block;
    background-color: #fff;
    color: #999;
    transition: .25s linear;
}



.form_submit{
    border-radius: 10px;
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    color: #fff;
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
}

.form_submit-text{
    margin: 0 auto;
}

.form_tos{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #999;
    padding-bottom: 15px;
}

.form_group-firstname{
    position: relative;
}
.form_group-lastname{
    position: relative;
}
